@import "./settings";

html {
  scroll-behavior: smooth;
}
.page {
  header {
    z-index: 3;
    position: fixed;
    width: 100%;
    border-bottom: 3px ridge rgb(209, 208, 208);
    padding-top: 5px;
    background-color: white;
    @include flexCenter;
    @media (min-width: 785px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .navigation {
        margin: 10px 30px 0 0;
      }
      .logo {
        margin: 0 0 0 20px;
      }
    }
    .logo {
      img {
        margin-right: 10px;
        cursor: pointer;
        height: 50px;
      }
    }
    .navigation {
      a {
        margin: 0 10px 0 10px;
        padding: 10px;
        border-radius: 5px;
        width: 2px;
      }
      i {
        padding: 10px;
        font-size: 160%;
        color: grey;
        &:hover {
          background-color: $color-4;
          opacity: 0.6;
          @include transition;
          border-radius: 30%;
        }
      }
      .nav-active {
        border-bottom: 7px solid $color-2;
        i {
          color: black;
        }
      }
    }
  }
  .session {
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 1px;
    z-index: 4;
    background-color: white;
    padding: 5px;
    width: 100%;
    color: $color-2;
    font-weight: bold;
    font-style: italic;
    div {
      width: 130px;
    }
  }
  main {
    z-index: 2;
    margin-bottom: 30px;
    @include flexCenter;
    .login-container {
      margin-top: 150px;
      @include flexCenter;
      @include box;
      padding: 10px 20px 40px 20px;
      .form {
        display: grid;
        width: $minWidth;
        @media (min-width: $minwidth3) {
          @include transition;
          min-width: $minWidth2;
        }
        label {
          margin: 10px 0 5px 0;
        }
        .input {
          border-radius: 10px;
          background-color: $color-3;
          padding: 15px;
          @include input;
          &:focus {
            outline: none;
          }
        }
        #submit {
          padding: 15px;
          margin-top: 20px;
          cursor: pointer;
          background-color: $color-2;
          @include btn;
          @include boxShadow;
        }
      }
      .selectLog {
        width: 100%;
        display: flex;
        justify-content: space-between;
        button {
          background-color: $color-1;
          padding: 10px;
          cursor: pointer;
          width: 45%;
          margin: 5px;
          @include btn;
          @include boxShadow;
        }
      }
      .activ-btn {
        background-color: $color-2 !important;
      }
    }
    .profil-container {
      @include flexCenter;
      @include box;
      padding: 0 0 40px 15px;
      #img-container {
        @include flexCenter;
        figure {
          width: 250px;
          height: 250px;
          position: relative;
          #imgProfil {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 40px;
            box-shadow: 1px 1px 30px grey;
            margin-bottom: 10px;
          }
        }
        form {
          margin-top: 10px;
          @include flexCenter;
          input {
            margin: 5px;
          }
          #file {
            width: 120px;
          }
          #btn-image-profil {
            @include btn;
            background-color: $color-2;
            padding: 12px 30px 12px 30px;
            position: relative;
            right: 20px;
            bottom: 2px;
          }
        }
      }
      .infos-container {
        background-color: $color-3;
        border-radius: 15px;
        @include boxShadow;
        width: 90%;
        margin: 20px 0 10px 0;
        h3 {
          padding-left: 20px;
          margin-bottom: 10px;
        }
        .profilGrid {
          grid-template-columns: 2.5fr 5fr;
          label {
            font-size: 90%;
          }
          #pseudo {
            background-color: rgb(218, 218, 218);
            font-weight: bold;
            font-size: 100%;
          }
        }
        .supp-container {
          grid-template-columns: 5fr 2fr;
          #mdp-supprProfil {
            height: 30px;
          }
          div {
            margin-left: 10px;
          }
          #inscriptError {
            padding-left: 10px;
          }
        }
        .submit-infos {
          display: flex;
          justify-content: flex-end;
          input {
            @include btn;
            margin: 10px 20px 20px 0;
            padding: 10px 20px 10px 20px;
            cursor: pointer !important;
            background-color: $color-2 !important;
          }
        }
        .mdp-Error {
          text-align: end;
          padding-right: 30px;
          position: relative;
          bottom: 10px;
        }
        .profilGrid,
        .supp-container {
          padding: 15px;
          display: grid;
          @media (max-width: 975px) {
            display: flex;
            flex-direction: column;
            label,
            input,
            textarea {
              margin: 2px !important;
            }
          }
          label,
          input,
          textarea {
            margin: 10px;
            padding: 10px;
          }
          input,
          textarea {
            cursor: default;
            background-color: rgb(243, 241, 241);
            border-radius: 10px;
          }
          textarea {
            resize: none;
            overflow: hidden;
            height: 60px;
          }
        }
      }
    }
    .acceuil-container {
      i {
        cursor: pointer;
        opacity: 0.9;
        &:hover {
          opacity: 0.7;
        }
      }
      .post-container {
        @include box;
        padding: 10px 20px 20px 20px;
        margin-bottom: 30px;
        #formCreate .post {
          overflow: hidden;
        }
        #formModif .post {
          font-size: 130%;
          height: 200px;
        }
        form {
          #comment {
            margin: 20px 0 10px 0;
          }
          .post {
            @include input;
            background-color: $color-3;
            height: 100px;
            width: 100%;
            box-sizing: border-box;
            padding: 15px;
            font-size: 150%;
            resize: none;
            &:focus {
              outline: none;
            }
          }
          div {
            .submitPost {
              width: 100px;
              @include btn;
              background-color: $color-2;
              padding: 10px;
            }
            .fa-image {
              font-size: 250%;
              transform: translate(50%, 26%);
              color: grey;
              opacity: 0.7;
            }
            .imagePost {
              opacity: 0;
              width: 40px;
              height: 30px;
              transform: translate(-50%, 0);
            }
          }
        }
        .post-head-container {
          .post-pseudo {
            font-size: 130%;
            font-weight: bold;
            margin: 10px 0 10px 0;
          }
          p {
            font-style: italic;
            color: grey;
            font-size: 90%;
            margin-bottom: 20px;
          }
        }
        .publication {
          margin: 15px 0 30px 0;
        }
        #post-image {
          width: 100%;
          border-radius: 10px;
          margin-bottom: 10px;
        }
        .activ-img {
          display: none;
        }
        .post-foot-container {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          @media (max-width: 480px) {
            display: block;
            .post-modif {
              margin-top: 20px;
            }
          }
          .post-reactions {
            display: flex;
            .post-like {
              font-size: 140%;
              .like-effect {
                color: rgb(41, 201, 41) !important;
              }
            }
            .post-comment {
              font-size: 160%;
              margin: 0 20px 0 20px;
            }
            .post-like,
            .post-comment {
              cursor: pointer;
              opacity: 0.8;
              display: flex;
              margin-right: 30px;
              .post-number {
                margin: 5px 0 0 10px;
                font-size: 70%;
                font-weight: bold;
              }
            }
          }
          #post-modif {
            margin-right: 5px;
            div i {
              margin-left: 25px;
              font-size: 140%;
            }
          }
        }
      }
      #getComment-container {
        margin-top: 20px;
        background-color: $color-3;
        border-radius: 10px;
        max-height: 350px;
        overflow-x: hidden;
        overflow-y: scroll;

        .comment-container {
          background-color: white;
          @include boxShadow;
          margin: 15px;
          padding: 10px 10px 0 10px;
          border-radius: 10px;
          .comment-pseudo {
            font-weight: bold;
          }
          .modifComment {
            input {
              background-color: $color-3;
              padding: 10px;
              border-radius: 10px;
              margin-right: 10px;
            }
            button {
              @include btn;
              background-color: $color-2;
              padding: 10px 20px 10px 20px;
            }
          }
          .commentaire {
            overflow: hidden;
          }
          div {
            padding: 5px;
          }
          .modif-comment {
            display: flex;
            justify-content: space-between;
            i {
              margin-left: 10px;
              position: relative;
              top: 7px;
              font-size: 110%;
            }
            p {
              font-size: 90%;
              font-style: italic;
              color: grey;
            }
          }
        }
      }
    }
    .profil-container,
    .acceuil-container {
      margin-top: 150px;
      width: 90%;
      @media (min-width: 785px) {
        margin-top: 100px;
        width: 70%;
        @include transition;
      }
      @media (min-width: 1200px) {
        width: 40%;
        @include transition;
      }
    }
  }
}
#btnRemonter {
  z-index: 5;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 40px;
  font-size: 320%;
  @include flexCenter;
  color: rgba(105, 105, 105, 0.8);
}
